{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
<div class="{% if section.settings.full_width %} page-width{% endif %} rte rte--nomargin rte--indented-images">
  <div class="card_content_wrapper">
  <h1 class="card_title_wrapper card-text__wrapper--{{ section.settings.desktop_content_position }}">{{ section.settings.card_title }}</h1>
  {%- for block in section.blocks -%}
    <div class="card">
      <h2 class="card_inner_title">{{ block.settings.card_inner_title }}</h2>
      <div class="card_inner_wrapper">
        {{ block.settings.card_inner_content }}
      </div>
    </div>
  {%- endfor -%}
  <div class="card-text__wrapper--{{ section.settings.desktop_content_position }}">{{ section.settings.info_content }}</div>
</div>
</section>
{% schema %}
{
    "name": "Card Section",
    "settings": [
        {
          "type": "text",
          "id": "card_title",
          "label": "Section Title",
          "default": "HOW IT WORKS"
        },  
        {
          "type": "richtext",
          "id": "info_content",
          "label": "Info content"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Make a section full width",
            "default": false
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
        {
            "type": "select",
            "id": "desktop_content_position",
            "options": [
              {
                "value": "left",
                "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
              },
              {
                "value": "center",
                "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
              },
              {
                "value": "right",
                "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
              }
            ],
            "default": "center",
            "label": "t:sections.rich-text.settings.desktop_content_position.label",
            "info": "t:sections.rich-text.settings.desktop_content_position.info"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "block",
            "settings": [
              {
                "type": "text",
                "id": "card_inner_title",
                "label": "Card Content Title",
                "default": "1- REQUEST A CONSULTATION"
              },
              {
                  "type": "richtext",
                  "id": "card_inner_content",
                  "label": "Card content"
              }
            ]
        }
    ],
    "presets": [
        {
          "name": "Card Section"
        }
      ]
} 
{% endschema %}